<!DOCTYPE html>
<html>
  
  <head><title> Information on the <%=@disaster%> </title></head>
  
  <body> 
    <h1> <%=@disaster%> </h1>
    <p>
    Location: <%=@location%>
      <br>
    Date: <%=@date%> at <%=@time%>
      <br>
    Magnitude: <%=@magnitude%>
      <br>
    Mercalli Intensity: <%=@mercalliIntensity%>
    </p>
    <p>
    Related News: 
      <br>
    -Earthquake triggered avalanche on Mt. Everest (19 killed,120 missing)
      <br>
    -Earthquake triggered avalanche in Langtang valley (250 people missing)
    </p>
    
      <h2> Charities </h2>
    <%=@charity_info%>
    <br>
    
    <a href="./"><button>Home</button></a>
    <a href="./map"><button>Map</button></a>
    
  </body>
</html>