<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="css/style.css"> 
    <link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>

    <title> Information on the <%="Tohoku Tsunami"%> </title>
  </head>
  
  <body class = "infoBody"> 
    <center><h1><font color="#00FFEB"> <%="Tohoku Tsunami"%> </font> </h1></center>
    <p>
      <u><b> LOCATION</b></u>: <%="Japan"%>
      <br>
      <u><b> DATE</b></u>: <%="March 11"%> at <%="3:55pm"%>
      <br>
      <u><b>WAVE HEIGHT</b></u>: <%="Up to 40.5m(133ft)"%>
      <br>
    
    </p>
    <p>
      <u><b> RELATED NEWS</b></u>: 
      <br>
    -The tsunami affected not only Japan but the whole Pacific rim.
      <br>
    - Tsunami was caused by magnitude 9 Tohoku Earthquake(15,891 casualties)
      <br>
    - There have been 11,450 aftershocks since the tsunami and earthquake
    </p>
    
    <h2> <u>HELP</u> </h2>
    
   <a class = "charityLink" href="http://www.globalgiving.org/projects/japan-earthquake-tsunami-relief/" target="_blank"> Global Giving </a>
    <br>
    <br>
    <a class = "charityLink" href="https://secure.savethechildren.org/site/c.8rKLIXMGIpI4E/b.6239465/k.544E/Childrens_Emergency_Fund/apps/ka/sd/donor.asp" target= "_blank"> Save The Children</a>
    <br>
    <br>
    <a class = "charityLink" href="http://www.doctorswithoutborders.org/news-stories/field-news/japan-significant-needs-remote-quake-and-tsunami-hit-areas" target="_blank"> Doctors Without Borders</a> 
    <br>
    <br>
    <a class = "charityLink" href= "http://www.charitynavigator.org/index.cfm?cpid=1221&bay=content.view#.VakU8vlViko" target="_blank">Other charities</a>
    <br>
    <br>
    
    <center><a href="./"><button>Home</button></a></center>   
  </body>
</html>