<!DOCTYPE html>
<html>
  
  <head><title> Information on the <%=@disaster%> </title></head>
  
  <body> 
    <h1> <%=@disaster%> </h1>
    <p>
    Location: <%=@location%>
      <br>
    Date: <%=@date%> at <%=@time%>
      <br>
    Magnitude: <%=@magnitude%>
      <br>
    Mercalli Intensity: <%=@mercalliIntensity%>
    </p>
    <p>
    Related News: <br>
    -Triggered avalanche on Mt. Everest (19 killed,120 missing)
    -Triggered avalanche in Langtang valley (250 people missing)
    </p>
    
    <a href="./"><button>Home</button></a>
    <a href="./map"><button>Map</button></a>
    <a href="./charities"><button>Charities</button></a>
  </body>
</html>