<!DOCTYPE html>
<html>
  
  <head><title> Information on the <%=@disaster%> </title></head>
  
  <body> 
    <h1><font color="red"> <%=@disaster%> </font> </h1>
    <p>
      <u><b> Location</b></u>: <%=@location%>
      <br>
      <u><b> Date</b></u>: <%=@date%> at <%=@time%>
      <br>
      <u><b>Magnitude</b></u>: <%=@magnitude%>
      <br>
      <u><b>Mercalli Intensity</b></u>: <%=@mercalliIntensity%>
    </p>
    <p>
      <u><b> Related News</b></u>: 
      <br>
    -Earthquake triggered avalanche on Mt. Everest (19 killed,120 missing)
      <br>
    -Earthquake triggered avalanche in Langtang valley (250 people missing)
    </p>
    
    <h2> <u>Charities</u> </h2>
    
   <a href=https://secure.savethechildren.org/site/c.8rKLIXMGIpI4E/b.9274575/k.FD90/Nepal_Earthquake_Childrens_Relief_Fund/apps/ka/sd/donor.asp target="_blank"> Save The Children </a> <%=@charity_info%>
    <br>
    <br>
    <a href="https://engage.rescue.org/donate/nepal-earthquake?ms=gs_nepl_quke_dona_ES_150505&gclid=CPmq2sb638YCFUWPHwodP6sJUg" target= "_blank"> International Rescue Committee</a> <%="distributes needed supplies to homes"%>
    <br>
    <br>
    <a href="https://www.unicefusa.org/donate/nepal-earthquake-help-children-now/24226?ms=sem_dig_2015_misc_20150425_google&initialms=sem_dig_2015_misc_20150425_google&gclid=COGs0ez538YCFdCRHwodG_8M-g" target="_blank"> unicef </a> <%="works with the children displaced"%>
    <br>
    <br>
    <a href= "https://nepal.charity.org/" target="_blank">Even more charities</a>
    <br>
    <br>
    
    <a href="./"><button>Home</button></a>    
  </body>
</html>